body {
    background: rgb(143,88,227);
    background: radial-gradient(circle, rgba(143,88,227,1) 0%, rgba(77,59,193,1) 100%);
    
}

.navbar {
    width: auto;
    margin-top: 25px;
    text-align: right;
    box-shadow: 0 8px 6px -1px rgb(57, 30, 113);
    
  }
  
  .navbar a {
    /* float: center; */
    font-size: 30px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    padding: 14px 16px;
    text-decoration: none;
    
  }

.comment-post {
    font-family: 'Quicksand', sans-serif;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    font-size: 30px;
  }
  
  .comment-style {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 75%;
    background-color: rgb(177, 97, 216);
    padding: 10px;
    border-radius: 12px;
  }
  
  textarea {
    width: 90%;
    display: block;
    margin-left: 20px;
  }
  
  #submit-btn {
    margin-top: 30px;
    margin-left: 25px;
    height: 55px;
    width: 150px;
    border-radius: 12px;
    color:white;
    font-family: 'Quicksand', sans-serif;
    background-color:rgb(237, 198, 69);
    font-size: 30px;
  }