body {
  background-image: url("popcorn.jpg");  
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
header {
  color:white;
 font-family: 'Nerko One', cursive; 
  font-family: 'Quicksand', sans-serif;
  font-style: bold;
  text-align: center;
  font-size: 90px;
  /* padding-top: 30px; */
}


img{
  text-align: center;
  width: 380px;
  height: 380px;
  border-radius: 5%;
}
#side1{
  width: 100%;
  height: 30%;
  padding-bottom: 30px;
}
#drinkSection{
  background-color: rgba(225, 221, 221, 0.4);
  float: left;
  width: 50%;
  height: 480px;
  /* overflow: scroll; */
  text-align: center;
  color:black;
  font-family: 'Nerko One', cursive;
}

#drinkInformation{
  background-color: rgba(225, 221, 221, 0.4);
  width: 50%;
  height: 480px;
  overflow: scroll;
  text-align: left;
  color:black;
  font-family: 'Quicksand', sans-serif;
}

#movieSection{
  background-color: rgba(225, 221, 221, 0.4);
  float: left;
  width: 50%;
  height: 480px;
  /* overflow: scroll; */
  text-align: center;
  color:black;
  font-family: 'Quicksand', sans-serif;
}

#mealSection{
  background-color: rgba(225, 221, 221, 0.4);
  float: left;
  width: 50%;
  height: 480px;
  /* overflow: scroll; */
  text-align: center;
  color:black;
  font-family: 'Quicksand', sans-serif;
}

#mealInformation{
  background-color: rgba(225, 221, 221, 0.4);
  width: 50%;
  height: 480px;
  overflow: scroll;
  text-align: left;
  color:black;
  font-family: 'Quicksand', sans-serif;
}

#aboutMovie{
  background-color: rgba(225, 221, 221, 0.4);
  width: 50%;
  height: 480px;
  overflow: scroll;
  text-align: left;
  color:black;
  font-family: 'Quicksand', sans-serif;
}

.navbar {
  width: auto;
  height: 50px;
  text-align: right;
  /* /* background-color: rgb(237, 198, 69);  */
  background-color: rgb(233, 41, 41);
  padding-top: 2%;
}

.navbar a {
  font-size: 30px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  padding-left:  16px;
  text-decoration: none;
  background-color: rgb(233, 41, 41);
}

#button{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

 .refresh{
  height: 75px;
  width: 250px;
  border-radius: 12px;
  color:white;
  font-family: 'Nerko One', cursive; 
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(237, 198, 69); 
  background-color: rgb(233, 41, 41);
  font-size: 30px;
} 

h2{
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  padding-left: 10%;
  padding-right: 0%;
}
