body {
    background: rgb(143,88,227);
    background: radial-gradient(circle, rgba(143,88,227,1) 0%, rgba(77,59,193,1) 100%);
    
}
header {
    color:white;
    font-family: 'Nerko One', cursive;
    text-align: center;
    font-size: 100px;
  }


img{
    text-align: center;
    width: 65%;
    height: 60%;
    border-radius: 10%;
}


#movieSection{
  
    width: 50%;
    text-align: center;
    float: left;
    color:white;
    font-family: 'Nerko One', cursive;
}
#drinkSection{
  
    width: 50%;
    float: right;
    text-align: center;
    color:white;
    font-family: 'Nerko One', cursive;
}

  
.navbar {
    width: auto;
    margin-top: 25px;
    text-align: right;
    box-shadow: 0 8px 6px -1px rgb(57, 30, 113);
    
  }
  
  .navbar a {
    /* float: center; */
    font-size: 30px;
    color: white;
    font-family: 'Nerko One', cursive;
    padding: 14px 16px;
    text-decoration: none;
    
  }
#button{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

  .refresh{
   
    height: 75px;
    width: 250px;
    border-radius: 12px;
    color:white;
    font-family: 'Nerko One', cursive;
    background-color: aqua;
    font-size: 30px;
  }

  h2{
    
    font-size: 40px;
   
  }
  h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 20px;
    color: white;
    font-family: 'Quicksand', sans-serif;
  }

  h4{
      font-family: 'Quicksand', sans-serif;
      padding-left: 30%;
      padding-right: 30%;
      font-size: 15px;
  }